.news_item {
  /* background-color: red; */
  width: 440px;
  height: 300px;
  position: relative;
}

.news_item_title {
  position: absolute;
  left: 6.36%;
  right: 6.14%;
  top: 32.67%;
  bottom: 27.33%;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 20px;
  line-height: 150%;
  color: #f1f6ff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp:4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}
